# NOTE: Assumes that /cluster/bin/x86_64 is in your path
[General]
# Root directory path for the RetroFinder pipeline
plRootDir=/hive/users/hartera/GencodeWG/retroFinder/trunk
# Python scripts for running the RetroFinder pipeline
scriptDir=%(plRootDir)s/src/pipeline/bin
# Directory of RetroFinder C programs
progBinDir=%(plRootDir)s/bin
# Root directory containing all RetroFinder runs
rootWorkDir=/hive/groups/gencode/pseudogenes/retroFinder/pipelineTest
# Genbank directory path
gbRoot=/cluster/data/genbank
# Assembly database
database=hg19
# Date
date=2015-03-11
# Genome assembly directory
genomeDir=/hive/data/genomes/%(database)s
# Genome BED directory
genomeBed=%(genomeDir)s/bed 
# Genome assembly 2bit file
genomeTwoBit=%(genomeDir)s/%(database)s.2bit
# Version number of run for this organism
version=1
tempDirSuffix=retro.%(database)s.%(version)s
cluster=ku

[Programs]
# Gets Genbank and RefSeq sequences
genbankSeqProg=/cluster/data/genbank/bin/x86_64/gbGetSeqs
# Lastz alignment program
alignProg=/cluster/bin/penn/x86_64/lastz

[SequenceData]
# Sequences output directory
seqDir=sequenceData
# Tab-separated file of chromosome names and sizes
chromFile=chrom.sizes
# Sequence sources and type for gbGetSeqs to obtain mRNA and RefSeq sequences
gbMrnaSource=genbank
gbRefseqSource=refSeq
gbSeqType=mrna
mrna=mrna
allTwoBit=all.2bit
# mRNA BLAT alignment table
mrnaAlignTable=all_mrna
refSeq=refSeq
# RefSeq BLAT alignment table
refSeqAlignTable=refSeqAli
ensembl=ensembl
# Ensembl genePred annotation table
ensGpTable=ensGene
# Concatenated files prefix 
allSeqs=all
# mRNAs without polyA tails
trimmedSeqs=all.noPolyA
# Lengths of mRNAs without polyA tails
mrnaTrimLen=mrnaTrim.len
# lift file for trimmed (no polyA) mRNA alignments to untrimmed mRNA
mrnaAndTrimLift=mrnaAndTrim.lift
# gbdb sequences directory
gbdbSeqDir=lastzRetro

[Alignment]
# Alignments directory
alignDir=alignment
# Directory for output of lastz alignment program
alignOutput=lastzOut
# Input parameter for faSplit to split sequences file
seqSplitBytes=1000000
# Ouput file for all mRNA alignments to genome
lastzPsl=mrnaLastz.psl
# Lastz parameters for coverage and identity
alignCoverage=10
alignIdentity=62

[RetroPred]
# Directory for annotations used as input to pslPseudo
retroPredAnnot=pslPseudoAnnot
# RepeatMask annotations table
repeatMaskTable=rmsk
# Simple Repeats (Tandem Repeat Finder output) table
trfTable=simpleRepeat
# Net alignments, two far (NET1 and NET2), one near (NET3)
net1=netMm10
net2=netCanFam3
net3=netRheMac3
# The ucscRetroInfo table contains information about overlap of the
# retrogene with annotated genesets
gene1=knownGene
gene2=refGene
gene3=wgEncodeGencodeCompV19
# pslPseudo options
pslPseudoOptions=["-verbose=4", "-minAli=0.98", -nearTop=0.005"]

