[General]
plRootDir=/hive/users/hartera/GencodeWG/retroFinder/trunk
scriptDir2=%(outDir)s/src/pipeline/bin
progBinDir=%(outDir)s/bin
workingDir=/hive/groups/gencode/pseudogenes/retroFinder/pipelineTest
gbRoot="/cluster/data/genbank"

[Programs]
# Assumes that /cluster/bin/x86_64 is in your path
# Program to get the cDNA sequence from a genePred
getRnaProg="getRnaPred"
# Lastz alignment program
lastzProg=/cluster/bin/penn/x86_64/lastz
# Programs to get sequences, PSLs and CDS region files
genbankData=getGenbankData
refseqData=getRefseqData
ensemblData=getEnsemblData
genbankSeqProg="/cluster/data/genbank/bin/x86_64/gbGetSeqs"
# Converts genPred format file to PSL format
gpToPsl="genePredToPsl"
# Gets CDS regions (in 1-based transcript coordinates) for genePred annotations
gpCdsRegions="getGenePredCdsRegions"

[SequenceData]
seqDir=sequenceData
# Sequence sources and type for gbGetSeqs to obtain mRNA and RefSeq sequences
gbMrnaSource="genbank"
gbRefseqSource="refSeq"
gbSeqType="mrna"
mrna="mrna"
# mRNA BLAT alignment table
mrnaAlignTable="all_mrna"
refSeq="refSeq"
# RefSeq BLAT alignment table
refSeqAlignTable="refSeqAli"
ensembl="ensembl"
# Ensembl genePred annotation table
ensGpTable = "ensGene"
genePredSeq=""

[Programs]
# Assumes that /cluster/bin/x86_64 is in your path
lastzProg=/cluster/bin/penn/x86_64/lastz
# Program to get the cDNA sequence from a genePred
rnaPredProg="getRnaPred"

